<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI" version="0.4" targetFramework="net452" />
  <package id="Angular.UI.Bootstrap" version="0.13.3" targetFramework="net452" />
  <package id="angular-block-ui" version="0.2.0" targetFramework="net45" />
  <package id="angularjs" version="1.4.4" targetFramework="net452" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net452" />
  <package id="bootstrap" version="3.0.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="FontAwesome" version="4.2.0" targetFramework="net45" />
  <package id="jQuery" version="1.10.2" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.2" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.MVC3" version="3.2.1.0" targetFramework="net45" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Web.WebApi" version="3.2.4.0" targetFramework="net45" />
  <package id="RequireJS" version="2.1.20" targetFramework="net452" />
  <package id="Respond" version="1.2.0" targetFramework="net452" />
  <package id="Select2.js" version="3.2" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net45" />
  <package id="WebGrease" version="1.5.2" targetFramework="net452" />
</packages>