<div ng-controller="aboutController as vm" ng-init="vm.initializeController()">
    <h4 class="page-header">{{vm.title}}</h4>


    <div>
      

        <p>
            Below is a detailed list of some of the latest technologies incorporated into this sample application.
        </p>


        <p>
            <b>HTML5</b> -
            is a core technology markup language of the Internet used for structuring and presenting content for the World Wide Web. As of October 2014
            this is the final and complete fifth revision of the HTML standard of the World Wide Web Consortium (W3C). The previous version, HTML 4,
            was standardised in 1997.

            Its core aims have been to improve the language with support for the latest multimedia while keeping it easily readable by humans and consistently
            understood by computers and devices (web browsers, parsers, etc.). HTML5 is intended to subsume not only HTML 4, but also XHTML 1 and DOM Level 2 HTML.

            Following its immediate predecessors HTML 4.01 and XHTML 1.1, HTML5 is a response to the fact that the HTML and XHTML in common use on the World Wide
            Web are a mixture of features introduced by various specifications, along with those introduced by software products such as web browsers,
            those established by common practice. It is also an attempt to define a single markup language that can be written in either HTML or XHTML.
            It includes detailed processing models to encourage more interoperable implementations; it extends, improves and rationalises the markup available
            for documents, and introduces markup and application programming interfaces (APIs) for complex web applications.[6] For the same reasons,
            HTML5 is also a potential candidate for cross-platform mobile applications. Many features of HTML5 have been built with the consideration of being
            able to run on low-powered devices such as smartphones and tablets. In December 2011, research firm Strategy Analytics forecast sales of HTML5
            compatible phones would top 1 billion in 2013.

            In particular, HTML5 adds many new syntactic features. These include the new video, audio and canvas elements,
            as well as the integration of scalable vector graphics (SVG) content (replacing generic object tags), and
            MathML for mathematical formulas. These features are designed to make it easy to include and handle multimedia and graphical content
            on the web without having to resort to proprietary plugins and APIs. Other [page structuring] new elements, such as main, section, article, header, footer,
            aside, nav and figure, are designed to enrich the semantic content of documents. New attributes
            have been introduced for the same purpose, while some elements and attributes have been removed. Some elements,
            such as a, cite and menu have been changed, redefined or standardized. The APIs and Document Object Model (DOM)
            are no longer afterthoughts, but are fundamental parts of the HTML5 specification. HTML5 also defines in some detail
            the required processing for invalid documents so that syntax errors will be treated uniformly by all conforming browsers and other user agents.


        </p>
        <p>
            <b>JavaScript</b> -
            also known as ECMAScript (the untrademarked name used for the standard), is a dynamic programming language. It is most commonly
            used as part of web browsers, whose implementations allow client-side scripts to interact with the user, control the browser, communicate asynchronously,
            and alter the document content that is displayed. It is also used in server-side network programming with runtime environments such as Node.js,
            game development and the creation of desktop and mobile applications.
            JavaScript is classified as a prototype-based scripting language with dynamic typing and first-class functions. This mix of features makes
            it a multi-paradigm language, supporting object-oriented, imperative, and functional programming styles.


        </p>
        <p>
            <b>Bootstrap</b> -
            is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.
            Designed for everyone, everywhere. Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels,
            devices of all shapes, and projects of all sizes.

            Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.
            With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.
        </p>
        <p>
            <b>Microsoft ASP.NET MVC</b> -
            Based on ASP.NET, ASP.NET MVC allows software developers to build a web application as a composition of three roles: Model, View and Controller. The MVC model defines web applications with 3 logic layers:
            Model (business layer)
            View (display layer)
            Controller (input control)

            A model represents the state of a particular aspect of the application. A controller handles interactions and updates the model to reflect a change in state of the application, and then passes information to the view. A view accepts necessary information from the controller and renders a user interface to display that information.[4]

            In April 2009, the ASP.NET MVC source code was released under the Microsoft Public License (MS-PL).[5]

            ASP.NET MVC framework is a lightweight, highly testable presentation framework that is integrated with existing ASP.NET features. Some of these integrated features are master pages and membership-based authentication. The MVC framework is defined in the System.Web.Mvc assembly.[6]

            The ASP.NET MVC Framework couples the models, views, and controllers using interface-based contracts, thereby allowing each component to be tested independently.

        </p>
        <p>
            <b>AngularJS</b> -
            In software development, AngularJS (commonly referred to as "Angular") is an open-source web application framework maintained by Google and by a
            community of individual developers and corporations to address many of the challenges encountered in developing single-page applications. It aims to
            simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) architecture,
            along with components commonly used in rich Internet applications.

            The AngularJS library works by first reading the HTML page, which has embedded into it additional custom tag attributes. Angular
            interprets those attributes as directives to bind input or output parts of the page to a model that is represented by standard JavaScript variables.
            The values of those JavaScript variables can be manually set within the code, or retrieved from static or dynamic JSON resources.

        </p>
        <p>
            <b>Microsoft .NET</b> - The .NET Framework (pronounced dot net) is a software framework developed by Microsoft that runs primarily on Microsoft Windows.
            It includes a large class library known as Framework Class Library (FCL) and provides language interoperability (each language can use code written in other languages)
            across several programming languages. Programs written for .NET Framework execute in a software environment (as contrasted to hardware environment),
            known as Common Language Runtime (CLR), an application virtual machine that provides services such as security, memory management, and exception handling.
            FCL and CLR together constitute .NET Framework.
        </p>
        <p>
            <b>Microsoft SQL-Server</b> -
            Microsoft SQL (Structured Query Language) Server is a relational database management system developed by Microsoft. As a database server,
            it is a software product whose primary function is to store and retrieve data as requested by other software applications, be it those on the same computer or
            those running on another computer across a network (including the Internet). There are at least a dozen different editions of Microsoft SQL Server
            aimed at different audiences and for workloads ranging from small single-machine applications to large Internet-facing applications with many
            concurrent users. Its primary query languages are T-SQL and ANSI SQL.
        </p>
        <p>
            <b>Microsoft Entity Framework</b> -
            Entity Framework (EF) is an open source[1] object-relational mapping (ORM) framework for ADO.NET, part of .NET Framework.
            The Entity Framework is a set of technologies in ADO.NET that support the development of data-oriented software applications. Architects and developers of
            data-oriented applications have typically struggled with the need to achieve two very different objectives. They must model the entities, relationships, and
            logic of the business problems they are solving, and they must also work with the data engines used to store and retrieve the data. The data may span multiple
            storage systems, each with its own protocols; even applications that work with a single storage system must balance the requirements of the storage system
            against the requirements of writing efficient and maintainable application code.

            The Entity Framework enables developers to work with data in the form of domain-specific objects and properties, such as customers and customer addresses,
            without having to concern themselves with the underlying database tables and columns where this data is stored. With the Entity Framework, developers can work
            at a higher level of abstraction when they deal with data, and can create and maintain data-oriented applications with less code than in traditional applications.
            Because the Entity Framework is a component of the .NET Framework, Entity Framework applications can run on any computer on which the .NET Framework
            (starting with version 3.5 SP1) is installed.

        </p>


    </div>


</div>
