<div ng-controller="indexController as vm" ng-init="vm.initializeController()">


    <div>

        <h4 class="page-header">Overview of the Sample Application</h4>

        <p>
            This sample web application has three goals:

            <ul>
                <li>Implement AngularJS on the frontend for the views and the JavaScript AngularJS controllers. </li>
                <li>
                    Use Microsoft's ASP.NET MVC platform for delivering and bootstrapping the application while using it's built-in plumbing for
                    bundling and minification of all JavaScript and CSS content to the browser.
                </li>
                <li>
                    Load AngularJS controllers and services on-demand in a just-in-time manner by functional module instead of loading all of the AngularJS functionality up-front when the application
                    starts up.
                </li>
            </ul>

            This sample application is a follow up to my previous article
            <a href="http://www.joeysoftwaresolutions.com/home/codeprojectarticles">
                Developing a Large Scale Application with a Single Page Application (SPA) using AngularJS
            </a>.

            This sample application contains three main folders, the Home folder for the About, Contact and Index Views;
            a customers folder that will allow you to create, update and inquire customers; and
            a products folder for creating, updating and inquiring on product information.

        </p>
        <p>
            Besides using AngularJS and ASP.NET MVC, this application will also
            implement Microsoft's ASP.NET Web API services for
            creating RESTful services. Microsoft's Entity Framework will be used for generating and updating a SQL-Server Express database.
            This application will also use some dependency injection using NInject. Additionality, A small validation library for .NET called 
            FluentValidation will be used that uses a fluent interface and
            lambda expressions for building validation business rules and will reside in the business layer.
        </p>

    </div>

    <div>
        <h4 class="page-header">Other Code Project Articles and Sample Applications written by Mark</h4>
    </div>
    <p>

        Mark Caplin has specialized in Information Technology solutions for 30 years.
        Specializing in full life-cycle development projects for both enterprise-wide systems and Internet/Intranet based solutions.
        For the past ten years or so, Mark has specialized in the Microsoft .NET framework using both C# and VB.NET as his tools of choice.
    </p>   

    <p>A full list of Mark's most popular Code Project articles can be found 
        <a href="http://www.joeysoftwaresolutions.com/home/codeprojectarticles">here.</a> Thank you.
    </p>
       
</div>

